{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
		<!-- ====== Login ======  -->
		<section class="login">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
						<div class="login-box">
							<div class="login-info text-center mb-50">
								<h4>Recover Account</h4>
							</div>

							<form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
								<input type="text" name="email" placeholder="EMail" value="{{ form.email.values }}">
                {{ form.email.errors }}
								<input type="submit" name="send" value="Recover Account">
							</form>
						</div>
					</div>

					<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
						<div class="login-link">
							<p>Already Have An Account! <span><a href="{% url 'account_login' %}"> Login</a></span></p>
							<p>Don't have an account yet? <span><a href="{% url 'account_signup' %}"> Create Account</a></span></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ====== End Login ======  -->
{% endblock %}
