{% extends "base.html" %}
{% block title %}Verify Your E-mail Address{% endblock %}

{% block content %}
  <section class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 offset-md-3">
          <h1>Verify Your E-mail Address</h1>
          <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
        </div>
      </div>
			</div>
  </section>

{% endblock %}

