{% extends 'base.html' %}
{% load static %}
   {% block navbar %}

		<!-- Navigation start -->
    <nav class="navbar navbar-custom tt-default-nav" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/tutordudes_logo.png' %}" alt="logo" class="logo_navbar">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="custom-collapse" >

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                <a href="{% url 'home' %}"style="font-size:12px"><b>Home</b></a>
              </li>

              <li class="dropdown">
                <a href="{% url 'contact' %}" style="font-size:12px"><b>Contact</b></a>
              </li>

              <!--
              <li class="dropdown">
                <a href="{% url 'options' %}"style="font-size:12px"><b>Affordable Options</b></a>
              </li>
              -->

              <li class="dropdown">
                <a href="{% url 'privacy' %}"style="font-size:12px"><b>Privacy Policy</b></a>
              </li>

              <li class="dropdown">
                <a href="{% url 'payment:plan' %}"style="font-size:12px"><b>Plans & Pricing</b></a>
              </li>


              {% if request.user.is_authenticated %}
                {% csrf_token %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"style="font-size:12px"style = "color:white">{{ request.user.username }}<b>Settings</b> </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'users:subscription' username=request.user.username %}"style="font-size:12px"style = "color:white"><i class="fa fa-user-circle"></i>&nbsp;<b>Profile</b> </a></li>
                    <li><a href="{% url 'account_change_password' %}"style="font-size:12px"style = "color:white"><i class="fa fa-key"></i>&nbsp;<b> Change Password</b></a></li>
                    <li id="manage-billing"><a href="#"style="font-size:12px"style = "color:white"><i class="fa fa-cc-stripe"></i>&nbsp;<b>Manage Billing</b></a></li>
                    <li><a href="{% url 'account_logout' %}"style="font-size:12px"style = "color:white"><i class="fa fa-sign-out"></i>&nbsp;<b>Logout</b> </a></li>
                  </ul>
                </li>

              {% else %}
                <li class="dropdown">
                  <a href="{% url 'account_login' %}"style="font-size:12px"><b>Sign In</b></a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'account_signup' %}"style="font-size:12px"><b>Sign Up For Free</b></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div><!-- /.container -->
    </nav>
    <!-- Navigation end -->
  {% endblock %}
-->


{% block content %}
    <!-- ====== Header ======  -->
		<header id="home" class="header demo-1" data-stellar-background-ratio="0.5">
			<div class="header-overlay">
				<!-- header content -->
				<div class="caption v-middle text-center">
          <h1>Welcome to TDULTRA</h1>
					<h6></h6>
					<button class="button btn-lg btn-warning btn-rdus mt-10" style="background-color: white"><a href="{% url 'account_login' %}">Sign In</a></button>
				</div>
				<div class="button-scroll" data-scrollTo="about"><span></span></div>
			</div>
		</header>
		<!-- ====== End Header ======  -->

    <!-- ====== Video ======  -->
		<div class="serv-us">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 us-content">
						<h5>What you get</h5>
            <p> Welcome to TDULTRA, the first user friendly and convenient educational web conferencing platforms designed for personalized one-on-one tutoring with TutorDudes and with educational tools for virtual classrooms</p>
					</div>

					<!-- our video -->
					<div class="col-md-offset-2 col-md-6 col-sm-6">
						<div class="our-video">
							<img src="static/images/image1.jpg" alt="image1">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ====== End Video ======  -->

		<!-- ====== services ======  -->
		<section id="services" class="services section-padding">
			<div class="container">

				<!-- section head -->
				<div class="section-head text-center">
					<h5 class="tit">TDULTRA presents several new educational features including refreshed layout, Scientific Calculator, Scientific Modules for STEM classes, 24/7 Tech Support and So Much More!</h5>
				</div>

				<div class="row">

					<!-- services items -->
					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-laptop"></span>
								<h6>Online Tutoring with TDULTRA</h6>
								<p>Our online tutoring provides students with strong academic support they need to keep academic momentum going. </p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-toolbox"></span>
								<h6>24/7 Customer Service</h6>
								<p>We are here to assist you with all your session quality, billing, or general inquiries.  When you contact us, you’ll always talk to real, friendly representatives who will always have an answer to your questions.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-pricetags"></span>
								<h6>Easy Remote Payments</h6>
								<p>Easily save, change or replace your card on file with a click. All payments are verified securely and your information is protected.</p>
							</div>
						</div>
					</div>

					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-aperture"></span>
								<h6>Software Platform</h6>
								<p>Our online tutoring platforms are held through "ULTRA", Our educational e-learning platform. Speak, chat, write, and send files online any time.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-documents"></span>
								<h6>Digital Learning Resources</h6>
								<p>You can get unlimited PPTs, videos and audio after online chat or screening tutoring service with low price subscription.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-circle-compass"></span>
								<h6>Different Learning Styles</h6>
								<p>Online tutoring service offers students who require different learning styles such as one to one, one to many tutoring using audio, video and chat.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>



		<!-- ====== End services ======  -->


    <!-- ====== process ======  -->
		<section class="process section-padding">
			<div class="container">
				<div class="row">

					<!-- items -->
					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>01</h5>
									<h6>Get Started</h6>
								</div>
							</div>
							<div class="item-content">
                <p>Click on <strong>Get Started</strong> button and login/signup</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>02</h5>
									<h6>Subscriptions</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Select and pay monthly subscriptions</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>03</h5>
									<h6>Go to TDULTRA</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Start using our TDULTRA software to get help</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>04</h5>
									<h6>Clear doubts</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Schedule and start tutoring to clear your doubts</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
    <div class="col-md-offset-2 col-md-6 col-sm-6">
      <div class="our-video">
        <img src="static/images/image2.jpg" alt="image1">
      </div>
    </div>
		<!-- ====== End process ======  -->

		<!--====== Numbers ======-->

		<!--====== End Numbers ======-->

		<!--====== Contact ======-->
		<section id="contact" class="contact">
			<!-- contact icfo -->
			<div class="cont-info muilte">
				<div class="container">

					<!-- section header -->
					<div class="section-head text-center">
						<h5 class="tit">Find Us</h5>
					</div>

					<div class="row">
            <div class="col-md-2"></div>
						<div class="col-md-3">
							<div class="info-item">
								<div class="icon">
									<span class="icon-phone"></span>
								</div>
								<div class="info-content">
									<h6>Phone</h6>
									<h5>+1 571-383-4448</h5>
								</div>
							</div>
						</div>

            <div class="col-md-3"></div>
						<div class="col-md-3">
							<div class="info-item">
								<div class="icon">
									<span class="icon-envelope"></span>
								</div>
								<div class="info-content">
									<h6>E-mail</h6>
									<h5>contact@tutordudes.com</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--====== End Contact ======-->

{% endblock %}

{% block footer %}
  <!--====== Footer ======-->
  <footer>
  <!-- main footer -->
			<div class="main-footer sticky-bottom">
				<div class="container">
					<div class="row">

						<!-- item about -->
						<div class="col-sm-4">
							<div class="item-about">
								<img src="{% static 'images/tutordudes_logo.png' %}" alt="logo" class="logo_footer_home">
                <p>TDULTRA is the first user friendly and convenient educational web conferencing platforms designed for personalized one-on-one tutoring with TutorDudes.</p>
								<div class="social-icon">
									<span><a href="https://www.facebook.com/tutordudesllc"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
									<span><a href="https://twitter.com/tutordudesllc"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
									<span><a href="https://www.linkedin.com/company/tutordudesllc/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
									<span><a href="https://www.instagram.com/tutordudes/"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
								</div>
							</div>
						</div>

						<!-- twity -->
						<div class="col-sm-4">
              <div class="item">
							  <div class="twity">
								  <h6>Other Resources</h6>
                  <span><a href="https://play.google.com/store/apps/dev?id=9110467796888598878" class="icon-games"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
                  <p>TDGAMES - MOBILE WEBSITE </p>
							  </div>

							  <div class="twity">
                  <span><a href="https://tdgames.com" class="icon-games"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
								  <p>TDGames - ONLINE WEBSITE</p>
							  </div>
              </div>
						</div>



						<!-- subscribe -->
					</div>
				</div>
			</div>


			<!-- sub footer -->
			<div class="sub-footer text-center">
				<div class="container">
					<p>2021 Copyright © By TutorDudes | All Rights Reserved.</p>
				</div>
			</div>
  </footer>

  <!--====== End Footer ======-->

{% endblock %}


