{% extends 'base.html' %}
{% load static %}
{% block title %}Internships{% endblock %}
{% block content %}
		<!--====== Blocks ======-->
		<section class="blocks section-padding">
      <div class="text-center">
        <h5 class="tit">Intern with us</h5>
      </div>
			<div class="container">
				<div class="row">

					<!-- blk-row -->
					<div class="blk-row">
						<div class="col-md-7">

							<!-- blk-item -->
							<div class="blk-item">
								<h5>Need College Credit Or hands-on Experience ?</h5>
                <p>Get three college credits based on your major. We offer internships in Finance, Marketing, Web Development, Graphic Design, Engineering, and Software Development. We help you get the real industry experience you need so your resume will stick out and gain exclusive insight from our network of employers to smoothly transition from our 105 day internship to your career job!</p>

								<a class="button btn-bord-dark" href="https://www.linkedin.com/company/tutordudesllc/jobs/" target="_blank">Apply now on LinkedIn!</a>
							</div>
						</div>

						<!-- blk-img -->
						<div class="col-md-5">
							<div class="blk-img">
								<img src="https://images.squarespace-cdn.com/content/v1/5f3419147eb8f5531f546462/1602438730759-FJ1DER3VHFI6Z1G9QUA4/ke17ZwdGBToddI8pDm48kMi9rdBWeeW1jVfkOKsF71xZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz0nWQNS_2bPldD4H6mZD89bNWeqaSQqmQFdxTduzpX3e7EAOguRD3sW4eatjNGXM4/1.jpg?format=500w" alt="image">
							</div>
						</div>
					</div>

					<!-- blk-img -->
					<div class="col-md-5">
						<div class="owl-carousel owl-theme">
							<div class="blk-img">
                <img class="first_img" src="https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3769021.jpg&fm=jpg" alt="image">
							</div>

							<div class="blk-img">
								<img src="https://images.squarespace-cdn.com/content/v1/5f3419147eb8f5531f546462/1602729241965-45Q6NN8WCE9ICPXCNVIJ/ke17ZwdGBToddI8pDm48kJPlnl0nfkBTumU5q1MmOTB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTma7LP-0IZKq105DwdgzdKohjW6O-n0-t5jqrf2Q2ZR76mmxCmPzTPs3ODBm9EKfGF/Untitled+design+%283%29.png?format=500w" alt="image">
							</div>
						</div>
					</div>

          <div class="col-md-1"></div>

					<!-- blk-item -->
					<div class="col-md-6">
						<div class="blk-item">
							<h5>How About a Career Internship with us ?</h5>
              <p>Do you want a more enriching career?—Are you a student seeking more? Consider working with us! Expect talented, motivating, and exceptional co-workers. We are working to pioneer educational technology that is ease-of-use and interactive for K-12 schools and college students. Apply for a chance to work as a career intern at this innovative startup.</p>
							<a class="button btn-bord-dark" href="https://angel.co/company/tutordudesllc/jobs" target="_blank">Apply now on Angel List!</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Blocks ======-->
{% endblock %}
