{% extends 'base.html' %}
{% block title %}Privacy{% endblock %}
{% block content %}
  <section class="blocks section-padding">
    <div class="container">
      <h2>Privacy Policy of TutorDudes</h2>

    <p>At <span class="website_name">tutordudes</span>, we collect and manage user data according to the following Privacy Policy.</p>

    <h3>Data Collected</h3>

    <p>We collect certain personally identifiable information like (Username, email address, and profile picture) to enhance your experience. We may ask that you verify your email address before joining. This is to ensure your account safety. We may use third party tools to track user data and other trends such as your status, notifications of sessions, security of accounts, and other updates in use.</p>

    <p>We use a third party payment vendor system “Stripe” to handle purchases and keep Card information as part of your membership. Google and Facebook API to fulfill your login details (this is optional). You can also log in using your own information.</p>

    <p>This website uses its own "cookies" to increase user-friendliness ("cookies" are data records that are sent from the web server to the user’s browser and stored there for later retrieval). No personal data is stored in our own "cookies". You can prevent the use of "cookies" if you prohibit the storage of "cookies" in your browser using your system preferences. You may elect to decline all cookies via your computer. Every computer has the ability to decline file downloads like cookies. Your browser has an option to enable the declining of cookies.</p>

    <h3>Security</h3>

    <p>Our sites use SSL, hashing, and encryption services to help protect your account. We frequently update and secure information. With that being said, no transmission of data can be completely secure. TutorDudes will not be held responsible for data breaches, leakes, hacks committed.</p>

    <h3>Links</h3>

    <p>We offer third party links and ads on our website. The ads contain cookies and are independent of TutorDudes.</p>

    <h3>Deactivation</h3>

    <p>We offer our users peace of mind. While surfing, users have the right to deactivate their account at any time. Please note, once this function is triggered, it will erase all account information from our systems and will immediately log you out.</p>

    <h3>Billing</h3>

    <p>All plans are billed annually, unless stated otherwise. Other than the subscription plans, there is an annual maintenance fee of $19, regardless of the current plan. This is to ensure ULTRA and courses within TutorDudes are updated. Tutoring sessions are hourly. They are outside of your yearly membership fee, yet are subsidized to your budget. All sessions are backed by our “Satisfaction Promise.”</p>

    <h3>Refunds</h3>

    <p>We are proud to offer our members a “Satisfaction Promise” ensuring members that they may obtain a refund from an unsatisfactory session so long as their reason is fair and sensible. Please give 24-48 hours for a refund to be transferred to the card on file. Refunds are not offered for membership costs or on annual maintenance fees.</p>

    <h3>Amends to this Policy</h3>

    <p>TutorDudes reserves the right to add, change, or remove information at any time. Members are encouraged to check back often.</p>

    <h3>Contact</h3>
      <p>Email: contact@tutordudes.com</p>
      <p>Phone: 571-383-4448</p>
    </div>

  </section>
{% endblock %}

