{% extends 'base.html' %}
{% block content %}
  <style>
    #reviews {
      margin-top: 120px;
      margin-bottom: 0px;
      margin-right: 70px;
      margin-left: 40px;
      font-weight: bold;
      font-size: 30px;
    }

    #customer {
      margin-bottom: 0px;
      margin-right: 70px;
      margin-left: 40px;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
  <section id="team" class="team section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h6 id="reviews">This is a great program they have helped me so much these past few days.</h6>
          <h6 id="customer">-Joseph Novak, high school student</h6>

          <h6 id="reviews">
            Both of my tutors helped me to take my asvab test. They helped me by tailoring the material I had to my
            learning style!</h6>
          <h6 id="customer">-Roz Albarznji, high school student</h6>
        </div>

        <div class="col-md-4 col-sm-6">
          <h6 id="reviews">The programs were suited to my unique learning style.</h6>
          <h6 id="customer">-Sani Sogand</h6>

          <h6 id="reviews">
            I'm so glad I reached out to Arya at TutorDudes. I was having trouble with CS and they made getting help so
            easy. Rosy was well-prepared and conducted our session in a professional and comprehensive manner. I feel so
            confident now that I know the material. I would 100% RECOMMEND you reach out to them if you're facing
            difficulties with any of your classes!</h6>
          <h6 id="customer">-Preeti J</h6>
        </div>

        <div class="col-md-4 col-sm-6">
          <h6 id="reviews">This is a great program they have helped me so much these past few days.</h6>
          <h6 id="customer">-Joseph Novak, high school student</h6>

          <h6 id="reviews">
            Both of my tutors helped me to take my asvab test. They helped me by tailoring the material I had to my
            learning style!</h6>
          <h6 id="customer">-Roz Albarznji, high school student</h6>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
